.cat {
  height: 20px;
  width: 20px;
  background-size: 40px;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-image: url("./assets/cat_idle.gif");
}

.walking {
  background-image: url("./assets/cat_walking.gif");
}

.running {
  background-image: url("./assets/cat_running.gif");
}

.hitting {
  background-image: url("./assets/cat_hitting.gif");
}

.left {
  transform: scale(-1, 1);
}
